.btn-primary {
    color:rgb (3,7,56);
    background-color: rgb(5,166,234);
    border-color: rgb(4,101,171);
}
.btn-secondary {
    color: rgb(227,198,148);
    background-color: rgb(131,108,99);
    border-color: rgb(193,214,214);
}
.btn-success {
    color: rgb(241,166,255);
    background-color:rgb(139,136,240);
    border-color: rgb(30,77,243);
}
.btn-danger {
    color: rgb(150,11,18);
    background-color: rgb(249,70,65);
    border-color: rgb(233,36,66);
}
.btn-warning {
    color:rgb(206,247,207);
    background-color: rgb(254,0,172);
    border-color: rgb(244,4,13);
}
.btn-info {
    color: rgb(116,141,181);
    background-color: rgb(28,44,70);
    border-color: rgb(51,70,102);
}
.btn-light {
    color:rgb(52,53,49);
    background-color:rgb(191,192,187);
    border-color:rgb(141,142,135);
}
.btn-dark {
    color:rgb(215,250,186);
    background-color: rgb(21,71,78);
    border-color: rgb(4,137,108);
}
.btn-link {
    font-weight: 400;
    color: rgb(161,6,181);
    text-decoration: underline;
}